<!DOCTYPE html>
<html>

<head>

  <%- include('includes/head') %>

  <title>μ¤λ§νΈν• λ°λ ¤κ²¬ ν™”μ¥μ‹¤ μ‡μΈ λ©(ITSMUNG)π’¦ - AdminPage</title>
  <link rel="stylesheet" href="<%=publicPath%>/css/Admin_doctor.css" />
</head>

<body>
  <div>
    <div class="main-size">

      <%- include('includes/adminheader') %>

      <!-- μ „λ¬Έκ°€ μΉμΈ μ—¬λ¶€ λ…λ‹¨ -->
      <table>
        <thead>
          <tr>
            <th>μ΄ λ¦„</th>
            <th>μ•„ μ΄ λ””</th>
            <th>λ©΄ ν— λ² νΈ</th>
            <th>μ „ ν™” λ² νΈ</th>
            <th>κ°€ μ… μΌ</th>
            <th>μΉ μΈ μ—¬ λ¶€</th>
            <th>μ „ λ¬Έ κ°€ μ‚­ μ </th>
          </tr>
        </thead>
        <tbody>
          <% items.forEach((item) =>{ %>
          <tr>
            <td><%=item.expertName%></td>
            <td><%=item.expertId%></td>
            <td><%=item.expertLicense%></td>
            <td><%=item.expertTel%></td>
            <td><%=item.regDate%></td>
            <% if (item.regDate == null) {%>
            <td>
              <form action="/admin_doctor/join" method="POST">
                <input type="hidden" name="expert" value="<%= JSON.stringify(item) %>">
                <button type="submit" class="ok-wait-btn">μΉμΈλ€κΈ°</button>
              </form>
            </td>
            <% } else { %>
            <td>
              <button class="ok-btn">μΉμΈμ™„λ£</button>
            </td>
            <% } %>
            <td>
              <form action="/admin_doctor/delete" method="POST">
                <input type="hidden" name="expert" value="<%= JSON.stringify(item) %>">
                <button type="submit" class="del-btn">μ‚­μ </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <!--footer  -->
      <%- include('includes/footer') %>
    </div>
  </div>
</body>

</html>