<!DOCTYPE html>
<html>

<head>

  <%- include('includes/head') %>

  <title>μ¤λ§νΈν• λ°λ ¤κ²¬ ν™”μ¥μ‹¤ μ‡μΈ λ©(ITSMUNG)π’¦ - AdminPage</title>
  <link rel="stylesheet" href="<%=publicPath%>/css/Admin_as.css" />
</head>

<body>
  <div>
    <div class="main-size">

      <%- include('includes/adminheader') %>

      <!-- a/s λ¬Έμ  -->
      <table>
        <thead>
          <tr>
            <th>λ² νΈ</th>
            <th>μ  λ©</th>
            <th>E-MAIL</th>
            <th>μ‘ μ„± μΌ</th>
            <th>μƒ νƒ</th>
          </tr>
        </thead>
        <tbody>
          <% const itemsPerPage = 5; %>
          <% const totalPages = Math.ceil(items.length / itemsPerPage); %>
          <% const currentPage = page ? parseInt(page) : 1; %>
          <% const startNumber = items.length - (currentPage - 1) * itemsPerPage; %>
          <% const endIndex = Math.max(0, startNumber - itemsPerPage); %>
          <% const pageItems = items.slice(endIndex, startNumber).reverse(); %>
          <% pageItems.forEach((item, index) => { %>
          <tr>
            <td><%= startNumber - index %></td>
            <td><%= item.title %></td>
            <td><%= item.email %></td>
            <td><%= item.regDate %></td>
            <td><%= item.processStatus%></td>
          </tr>
          <% }); %>
        </tbody>
      </table>
      <!-- μ¤„λ²νΈ -->
      <div class="pagination">
        <% if (currentPage > 1) { %>
        <a href="/admin_as?page=<%= currentPage - 1 %>">< μ΄μ „</a>
        <% } %>
        <% for (let page = 1; page <= totalPages; page++) { %>
        <a href="/admin_as?page=<%= page %>" <%= page === currentPage ? 'class="active"' : '' %>><%= page %></a>
        <% } %>
        <% if (currentPage < totalPages) { %>
        <a href="/admin_as?page=<%= currentPage + 1 %>">λ‹¤μ </a>
        <% } %>
      </div>

      <%- include('includes/footer') %>

    </div>
  </div>
</body>