<!DOCTYPE html>
<html>

<head>

  <%- include('includes/head') %>

  <title>μ¤λ§νΈν• λ°λ ¤κ²¬ ν™”μ¥μ‹¤ μ‡μΈ λ©(ITSMUNG)π’¦ - AdminPage</title>
  <link rel="stylesheet" href="<%=publicPath%>/css/Admin_member.css" />
</head>

<body>
  <div>
    <div class="main-size">

      <%- include('includes/adminheader') %>

      <!-- νμ› λ…λ‹¨ -->
      <table>
        <thead>
          <tr>
            <th>μ΄ λ¦„</th>
            <th>μ•„ μ΄ λ””</th>
            <th>λ‹‰ λ„¤ μ„</th>
            <th>μ „ ν™” λ² νΈ</th>
            <th>κΈ° κΈ° λ² νΈ</th>
            <th>κ°€ μ… μΌ</th>
            <th>κµ¬ λ… μ—¬ λ¶€</th>
            <th>ν μ› μ‚­ μ </th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach((user)=> {%>
          <tr>
            <td><%=user.userName%></td>
            <td><%=user.userId%></td>
            <td><%=user.nickname%></td>
            <td><%=user.userTel%></td>
            <td><%=user.deviceId%></td>
            <td><%=user.regDate%></td>
            <td><%=user.subscription%></td>
            <td>
              <form action="/admin_member/delete" method="post">
                <input type="hidden" name="user" value="<%=JSON.stringify(user)%>">
                <button type="submit" class="btn">μ‚­ μ </button>
              </form>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>

      <%- include('includes/footer') %>
    </div>
  </div>
</body>