<!DOCTYPE html>
<html>

<head>

  <%- include('includes/head') %>
  
  <title>μ¤λ§νΈν• λ°λ ¤κ²¬ ν™”μ¥μ‹¤ μ‡μΈ λ©(ITSMUNG)π’¦ - FAQ</title>
  <link rel="stylesheet" href="<%=publicPath%>/css/User_faq.css" />
  <!--FAQ λ‹µλ³€ js-->
  <script src="<%=publicPath%>/js/User_faq_answer.js"></script>
</head>

<body>
  <div>

    <div class="main-size">

      <%- include('includes/userheader') %>

        <!-- intro -->
        <span class="intro">μμ£Όν•λ” μ§λ¬Έ</span>
        <span class="intro-1">μ‡μΈ λ©μ μ„λΉ„μ¤κ°€ κ¶κΈν•μ‹λ‚μ”?</span>

        <!-- μ§μ μ‘λ‹µ -->
        <section class="section section-faq">
          <div class="container mx-auto">
            <div class="faq-box">
              <ul>
                <li>
                  <div class="faq-box-question"><span>κΈ°κΈ° λ“±λ΅ ν•λ” λ°©λ²• κ¶κΈν•΄μ”</span></div>
                  <div class="faq-box-answer">
                    <span>wifi on -> ν•λ‹¨λ°”μ—μ„ DEVICE λ²„νΌ ν΄λ¦­ -> wifi-LISTμ—μ„ itsmung μ„ νƒ ->
                      μ—°λ™ μ™„λ£ -> λ©”μΈνμ΄μ§€λ΅ μ΄λ™ <br />
                    </span>
                  </div>
                </li>
                <li>
                  <div class="faq-box-question"><span>ν¨λ“λ¥Ό κ³„μ† μ“°λ κ°•μ•„μ§€λ„ ν›λ ¨μ΄ κ°€λ¥ν•κ°€μ”?</span></div>
                  <div class="faq-box-answer">
                    <span>μ¤λ«λ™μ• ν¨λ“λ¥Ό κ³„μ† μ¨μ™”λ κ°•μ•„μ§€λ” λ°°λ³€νμ— λ°”λ΅ μ μ‘ν•  μλ” μ—†μµλ‹λ‹¤.<br />
                      μ²μ ν›λ ¨λ°©λ²•μ€ λ°°λ³€ν μ• μ½ κµ¬μ„μ— λ§›μλ” κ°„μ‹μ„ λ†“μ•„ κ·Έλ¬Όλ§μ— μ¬λΌκ°€λ” λ†€μ΄λ¶€ν„° μ‹λ„ν•΄λ³΄μ„Έμ”.<br />
                      2μ°¨μ μΌλ΅ ν¨λ“λ¥Ό 1/2~1/4 ν¬κΈ°λ΅ μλΌ μ•½κ°„μ μ†λ³€μ„ λ¬»ν€ μ¬λ ¤ λ†“κ³  ν›λ ¨μ‹ν‚¤λ” λ°©λ²•λ„ μμµλ‹λ‹¤.
                    </span>
                  </div>
                </li>
                <li>
                  <div class="faq-box-question"><span>κµ¬λ…μ·¨μ† μ–΄λ–»κ² ν•λ‚μ”?</span></div>
                  <div class="faq-box-answer">
                    <span>μ·¨μ†λ λ‚ λ΅λ¶€ν„° λ³΄ν†µ 3~7μΌμ΄λ‚΄ μ²λ¦¬λμ§€λ§ μΉ΄λ“μ‚¬μ—
                      λ”°λΌ μ¶”κ°€μ μΌλ΅ μ†μ”λ  μ μμΌλ‹ μ°Έκ³  λ°”λλ‹λ‹¤.
                    </span>
                  </div>
                </li>
                <li>
                  <div class="faq-box-question"><span>λ°ν’μ΄λ‚ κµν™μ΄ λ¶κ°€λ¥ν• μƒν’μ€ μ–΄λ–¤ κ±΄κ°€μ”?</span></div>
                  <div class="faq-box-answer">
                    <span>
                      β€£ κ³ κ° λ¶€μ£Όμλ΅ μΈν• μƒν’μ λ³€ν•, ν›Όμ† λλ” νμ†λλ” κ²½μ° <br />
                      β€£ μ¤μ—Όλ¬Όμ§μ΄ λ¬»μ–΄ μλ” κ²½μ° <br />
                      (ν™”μ¥ν’, ν–¥μλƒ„μƒ, μμ‹λ¬Ό λƒ„μƒ λ“±) <br />
                      β€£ μƒν’μ„ μ°©μ© λ° μ‚¬μ©ν•μ€μ„ κ²½μ° <br />
                      β€£ μΈμ„μ μΈ μμ„  λ° μλ¦¬λ¥Ό ν• κ²½μ°, μ„Ένƒμ„ ν•μ€μ„ κ²½μ° <br />
                      β€£ κµν™ λ° λ°ν’ μμ‚¬λ¥Ό ν†µλ³΄ν•μ§€ μ•κ³  λ°ν’ν• κ²½μ°λ¥Ό μ μ™Έ <br />
                    </span>
                  </div>
                </li>
                <li>
                  <div class="faq-box-question"><span>μλ™μ²λ¦¬λ” λ‡λ¶„ λ’¤μ— μ‘λ™ ν•λ‚μ”?</span></div>
                  <div class="faq-box-answer">
                    <span>κ°•μ•„μ§€κ°€ λ€λ³€μ„ λ³Όλ•λ” μ†λ³€μ„ λ¨Όμ € λ³΄κ³  λ‚΄λ ¤μ¨ ν›„ μ£Όλ³€μ„ μ™”λ‹¤κ°”λ‹¤ ν•λ‹¤κ°€
                      μ•½ 1λ¶„ ν›„μ— λ‹¤μ‹ λ€λ³€μ„ λ³΄κΈ° μ‹μ‘ν•©λ‹λ‹¤.
                      λ€λ³€ λ³Όλ•λ¥Ό κ³ λ ¤ν•μ—¬ 2λ¶„ ν›„μ— μ²μ²ν λ¬Όλ΅ μ„Έμ²™ν•©λ‹λ‹¤.
                    </span>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </section>

      <%- include('includes/footer') %>
    </div>
  </div>
  </div>
</body>