<!DOCTYPE html>
<html>

<head>

  <%- include('includes/head') %>
  
  <title>스마트한 반려견 화장실 잇츠멍(ITSMUNG)💦 - Intro</title>
  <link rel="stylesheet" href="<%=publicPath%>/css/User_intro.css" />
</head>

<body>
  <div>

    <div class="main-size">

      <%- include('includes/userheader') %>

        <!-- 갱얼쥐 사진 -->
        <img class="main-dog" src="<%=publicPath%>/img/main_dog.png" />

        <!-- 설명 -->
        <span class="only-mung"><span>오직 반려견만을 생각한 잇츠멍</span></span>
        <span class="sub">
          <span> 오직 반려견만을 생각한 잇츠멍은, 고객들의 편의를 최우선으로 생각합니다.<br />
            강아지의 특수한 요구사항과 편안한 사용 경험을 고려하여 최적화된 제품을 개발했습니다. </span>
        </span>

        <span class="sub-text">
          <span>또한, 잇츠멍은 대변과 소변을 한 번에 처리할 수 있는 혁신적인 기술을 도입했습니다.<br />
            이를 통해 사용자들은 더욱 간편하게 화장실을 관리할 수 있습니다. <br /></span>
        </span>

        <span class="intro"><span class="why"> 왜 ?</span>
          다른 제품들이 아닌 </br>쾌견의 잇츠멍을 선택해야 되는가?
        </span>

        <span class="thr">
          <span>
            잇츠멍 앱은 반려견의 건강을 체크하는 뛰어난 기능을 제공합니다.<br />
            반려견의 대변 색, 형태, 소변 횟수 등을 실시간으로 모니터링하고 건강상태 를 파악할 수 있습니다.<br />
            우리는 소중한 반려견과 함께 건강하고 행복한 삶을 즐기기 위해 잇츠멍을 만들게 되었습니다.</span>
        </span>
    </div>

    <%- include('includes/footer') %>
  </div>
</body>